<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Update plant</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/plants/{id}(id=${plant.getId()})}" th:object="${plant}">
	<label for="name">Enter name: </label>
	<input type="text" th:field="*{name}" id="name"/>
	<div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
	<br/>
	<label for="wateringPeriod">Enter wateringPeriod: </label>
	<input type="text" th:field="*{wateringPeriod}" id="wateringPeriod"/>
	<div style="color:red" th:if="${#fields.hasErrors('wateringPeriod')}" th:errors="*{wateringPeriod}">Watering Error</div>
	<br/>
	<label for="nextWateringDate">Enter date of next watering (dd/MM/yyyy): </label>
	<input type="text" th:field="*{nextWateringDate}" id="nextWateringDate"/>
	<!---<div style="color:red" th:if="${#fields.hasErrors('date_of_birth')}" th:errors="*{date_of_birth}">Date of birth Error</div>-->
	<br/>
	<input type="submit" value="Update!"/>
</form>
	<a  th:href="@{/plants/index}" th:text="${'Back to index'}"></a>

</body>
</html>